<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite verbose="1" name="Web Tests Suite" annotations="JDK" parallel="classes" thread-count="4">

    <listeners>
        <listener class-name="listeners.TestAllureListener"/>
    </listeners>

    <test name="Web Test - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginTest"></class>
<!--            <class name="tests.ExitIntentTest"></class>-->
            <class name="tests.SortingTest"/>
            <class name="tests.ControlsTest"/>
            <class name="tests.NewTabTest"/>
        </classes>
    </test>
<!--    <test name="Web Test - Opera">-->
<!--        <parameter name="browser" value="opera"/>-->
<!--        <classes>-->
<!--            <class name="tests.LoginTest"></class>-->
<!--            <class name="tests.RegistrationTest"></class>-->
<!--            <class name="tests.CheckoutTest"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
